/* 5 순위 : 태그 선택자 */
div {
    width: 200px;
    height: 200px;       
    background-color: red !important;
}                            
/* !important; 1순위 */

/* 4순위 : 클래스 선택자 */
.cls1 {
    background-color: green;  
    
}

.cls1 {
    background-color: yellowgreen; 
    /* 동일한 우선순위에선 마지막에 작성됀
    설정값이 적용됨 */
}

/* 3 순위 : ID 선택자 */
#test1 {
    background-color: black;
    height: 100px;
    color: antiquewhite;
}

.div-4 {
    border: 3px solid black;
    height: 100px;
}

#test4 {
    background-color: deeppink;

    /* "visibility: hidden;" */
    display: ;
}
