* {
    
      border: 1px solid black; 
    box-sizing: border-box; 
}
body {
    margin: 0px;
}

header {
    display: flex;
    height: 100px;
}


header > section:nth-of-type(1) {
     flex-basis: 5%;
     display: flex;
     justify-content: center;
     align-items: center;
}

header > section:nth-of-type(2) {
    flex-basis: 10%;
    justify-content: left;
     align-items: center;
}

header > section:nth-of-type(3) {
    display: flex;

    flex-basis: 50%;
    justify-content: right;
    align-items: center;
}

header #query1{
    font-size: 25px;
    left;
}

header #search1-btn {
    font-size: 27px;
    border-top-right-radius:30%;
    border-bottom-right-radius:30%;
}



header > section:nth-of-type(4) {
    flex-basis: 20%;
    justify-content: left;
     align-items: center;
}

header > section:nth-of-type(5) {
    flex-basis: 5%;
    justify-content: right;
    align-items: center;
}

header > section:nth-of-type(6) {
    flex-basis: 1%;
    justify-content: right;
    align-items: center;
}

header > section:nth-of-type(7) {
    flex-basis: 5%;
    justify-content: center;
    align-items: center;
}


section {
    display: flex;
}

#cartegori-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;

    font-size: 20px;
}

#microphone-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;

    font-size: 20px;
}

#vidio-creative-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;

    font-size: 20px;
}

#bell-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;

    font-size: 20px;
}


#profel {
    border-radius: 50%;
}

.head { 

    right: 1cm;
    

    display: flex;
    width: 68%;
    height: 2000px;

    margin-top: 0;
    flex-direction: column;
    
}

#sect1 {

    flex-basis: 42%;
    height: 30%;
    width: 100%;
}

#sect1 > #imgs {
    border-radius: 3%;
    
}

#sect2 {
    display: flex;
    flex-basis: 10%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

#infomate {
   width: 100%;
   margin: 0;
   padding: 0;
}

#sect2 > #infomate > #imginfo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    
}
























